<input type="text" name="email" id="email" placeholder="Enter you email" appAutoFocus>

<app-user-card [user]="user"></app-user-card>
<app-user-card [user]="{name: 'toto', email: 'toto@mail.fr'}"></app-user-card>
<hr>

<h1>{{'Hello' | truncate: 7}}</h1>
<hr>

<div>
  <h2>Email: {{loginCredentials.email}}</h2>
  <h2>Password: {{loginCredentials.password}}</h2>
  <app-login-form (loginCredentialsChange)="getLoginCredentials($event)"></app-login-form>
</div>
<hr>

<app-loading-spinner  [isLoading]="false"></app-loading-spinner>