<app-email-form></app-email-form>
<hr>
<div>
  <button type="button" (click)="onFetchUsers()">Fetch users</button>
  <ul>
    <app-user-row *ngFor="let user of users$  | async; trackBy: trackUser" [user]="user"></app-user-row>
  </ul>
</div>
<hr>
<h1>Interceptor exercice</h1>
<button type="button" (click)="onLoginRequest()">Trigger a login HTTP request</button>
<button type="button" (click)="onFetchTodosRequest()">Trigger a get todo HTTP request</button>
<hr>
<app-register-form></app-register-form>
<hr>
<h1>Exercice 5 - Service + Interceptor d'erreurs</h1>
<button type="button" (click)="onFetchAllPost()">Fetch all posts</button>
<button type="button" (click)="onInternalServerErrorFetch()">Click me for Internal server error</button>
<button type="button" (click)="onForbiddenErrorFetch()">Click me for a forbidden error</button>
<ul>
  <li *ngFor="let post of posts$ | async; trackBy: trackPost">
    {{ post.title.substring(0, 15) }}
  </li>
</ul>
<div>{{ errorMessage$ | async }}</div>
