<h1>{{ "Hello World" | limitWords:5 }}</h1>
<h1>{{ "Hello World!" | limitWords:1 }}</h1>
<hr>
<input appAutoFocus type="text" placeholder="Type your text" />
<hr>
<app-login-form></app-login-form>
<hr>
<app-user-list></app-user-list>
<hr>
<h1> You are {{ isLoggedIn ? "logged in" : "logged out" }} and you're role is {{ role }}</h1>
<button *ngIf="!isLoggedIn" type="button" (click)="onLogin()">Login</button>
<button *ngIf="isLoggedIn" type="button" (click)="onLogout()">Logout</button>
<hr>
<app-lifecycle></app-lifecycle>
<hr>
<button appHoverClass="bg-red">Hover ME </button>
