<app-register-form></app-register-form>
<hr>
<h1>{{ capitalize$ | capitalizeAsync | async }}</h1>
<hr>
<div>
  <h1>{{ user.name }}</h1>
  <h2>{{ user.status }}</h2>
  <h3>{{ user.role }}</h3>
  <button *ngIf="isLoggedOut" type="button" (click)="onLogin()">Login</button>
  <button *ngIf="isLoggedIn" type="button" (click)="onLogout()">Logout</button>
  <button type="button" (click)="onToggleRole()">set role to {{isAdmin ? 'user' : 'admin'}}</button>
  <button type="button" (click)="goToAdminPage()">Go To admin page</button>
</div>
<hr>
<h1 [appLoading]="(isLoading$ | async) || false">Loading...</h1>
<ul>
  <li *ngFor="let post of posts$ | async">
    {{ post.title }}
  </li>
</ul>
