<h1>String: {{ str$ | async }}</h1>
<h1>Undefined in interpolation return this => {{ undefined }}</h1>
<hr>
<app-counter></app-counter>
<hr>
<h1>{{ value$ | betterAsync}}</h1>
<hr>
<button (click)="onToggleRole()">Click ME to become {{ isAdmin ? 'a user' : 'an admin' }}</button>
<h1 appIfRole>Only admin can see this content</h1>
<hr>
<button type="button" (click)="onLoadUsers()">Load users</button>
<ul>
  <app-user *ngFor="let user of (users$ | async);" [username]="user.username" [id]="user.id"></app-user>
</ul>
<app-sign-up-form></app-sign-up-form>
